<div>
  <h2 id="page-heading" data-cy="AdultoHeading">
    <span jhiTranslate="prueba2App.adulto.home.title">Adultos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="prueba2App.adulto.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-adulto"
        [routerLink]="['/adulto/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="prueba2App.adulto.home.createLabel"> Create a new Adulto </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="adultos?.length === 0">
    <span jhiTranslate="prueba2App.adulto.home.notFound">No adultos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="adultos && adultos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="prueba2App.adulto.nombre">Nombre</span></th>
          <th scope="col"><span jhiTranslate="prueba2App.adulto.apellido">Apellido</span></th>
          <th scope="col"><span jhiTranslate="prueba2App.adulto.edad">Edad</span></th>
          <th scope="col"><span jhiTranslate="prueba2App.adulto.fechaNacimiento">Fecha Nacimiento</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let adulto of adultos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/adulto', adulto.id, 'view']">{{ adulto.id }}</a>
          </td>
          <td>{{ adulto.nombre }}</td>
          <td>{{ adulto.apellido }}</td>
          <td>{{ adulto.edad }}</td>
          <td>{{ adulto.fechaNacimiento | formatMediumDate }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/adulto', adulto.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/adulto', adulto.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(adulto)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
