<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="adulto">
      <h2 data-cy="adultoDetailsHeading"><span jhiTranslate="prueba2App.adulto.detail.title">Adulto</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ adulto.id }}</span>
        </dd>
        <dt><span jhiTranslate="prueba2App.adulto.nombre">Nombre</span></dt>
        <dd>
          <span>{{ adulto.nombre }}</span>
        </dd>
        <dt><span jhiTranslate="prueba2App.adulto.apellido">Apellido</span></dt>
        <dd>
          <span>{{ adulto.apellido }}</span>
        </dd>
        <dt><span jhiTranslate="prueba2App.adulto.edad">Edad</span></dt>
        <dd>
          <span>{{ adulto.edad }}</span>
        </dd>
        <dt><span jhiTranslate="prueba2App.adulto.fechaNacimiento">Fecha Nacimiento</span></dt>
        <dd>
          <span>{{ adulto.fechaNacimiento | formatMediumDate }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/adulto', adulto.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
